body{
	font: 85% Helvetica,Verdana,Arial,Sans-Serif;
	background-color: #263248;
	color: #fff;
}

#content {
	top:50%;
	padding: 2em 2em 2em 2em;
	width: 500px;
	margin-top: 250px;
	margin-left: auto ;
	margin-bottom: auto;
	margin-right: auto ;
}

h1{
	text-align: left;
}

a{
	color:#FF9800;
}