html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color:#757575;
}

img { 
    max-width: 100%;
}

a:link,a:visited {
    outline: 0;
}

a:hover,a:active {
    text-decoration: none;
}

h1,h2,h3{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}



.row p{
  font-size:20px;
}

strong{
  color:#FF9800;
}

/* ----- Navigation Sections ----- */

.section-header p{
    font-size: 1.5em;
}

.empty {
    width: 150px;
    height: 2px;
    background: #FF9800;
    margin: auto;
}

.empty2 {
    width: 300px;
    height: 2px;
    background: #FF9800;
}

.section-title {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    color: #555555;
    text-transform: uppercase;
    padding:10px 0;
}

.section-subtitle {
    text-align: center;
    padding:20px 0;
}

/* ----- Navigation Bar ----- */

.navbar{
    width:100%;
}

.navbar-inverse {
    background: rgba(38, 38, 38, 0.85);
    border: none;
    color:#777;
    display: inline-block;
    text-align: right;
    position:fixed;
}

.navbar-nav{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float:none;
    font-size: 1em;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: transparent;
  text-decoration: underline;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
    background: none;
    text-decoration: underline;
}

a:link,a:visited,.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,a:hover,a:active,
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus{
  color:#FF9800;
}



/* WELCOME */

#welcome{
    width: 100%;
    height: 75%;
    position: relative;
    overflow: hidden;
    text-align: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#welcome header{
    color:#fff;
    padding-top:15%;
}

#welcome header h1{
    margin: 0;
    padding: 0;
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 2em;
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

#welcome header p{
    font-size: 2em;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px;
/*    letter-spacing: 0.1em;*/
    line-height: 3em;
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/* ABOUT */

#about{
    padding: 40px 0;
    background:#fff;
}

#about .about{
    border: 5px solid #333;
    width:225px;
    height:225px;
    margin: 0 20px 20px 0;
}

#social img
{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

#social img:hover
{
   filter: none;
  -webkit-filter: grayscale(0%);
}

#social, #social a, #social img
{
    margin-left: auto;
    margin-right: auto;
}


/* RESUME */

#resume{
    padding: 40px 0;
    background:#263248; 
    text-align: center;
    color:#fff;
}

#resume .section-title{
  color:#fff;
}

/* SKILLS */

#skillset{
    padding: 40px 0;
    background:#fff;
}


/* PORTFOLIO */

#portfolio{
    padding: 40px 0;
    background:#263248;
    color:#fff;
}

#portfolio .section-title{
  color:#fff;
}

#portfolio h3{
  color:#FF9800;
}

.experience header p{
  text-decoration: underline;
}


/* CONTACT */

#contact{
    padding: 40px 0;
}

#contact{
  background: #7E8AA2;
  color:#fff;
}

#contact .section-title{
  color:#fff;
}

/* ----- Contact Form ----- */

.form-control{
    box-shadow:none;
    -webkit-box-shadow:none;
    border: none;
}

.btn.btn-default{
    width: 49.7%;
    margin: 35px auto auto auto;
    background: transparent;
    position: relative;
    color: #fff;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border: 2px solid #4cddf3;
    border-radius: 2;
    letter-spacing: 1px;
    pointer-events: auto;
    border-color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.btn.btn-default:hover,
.btn.btn-default:active{
    background:#fff;
    border-color: #fff;
    color:#FF9800;
}

input,.input-lg,button{
    border-radius:2;
}

/*.control-group.error input, 
.control-group.error select, 
.control-group.error textarea {
border-color: #b94a48;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}*/

/*.control-group.error input, 
.control-group.error select, 
.control-group.error textarea {
color: #b94a48;
}*/

label.error{
    color:#fff;
    background:#b94a48;
    border:solid thin #fff;
    padding:3px 5px;
}

label.valid{
    color:#fff;
    background:#5CB85C;
    border:solid thin #fff;
    padding:3px 5px;

}

/* ----- Vegas Background Settings ----- */

.vegas-loading {
    border-radius: 10px;
    background: #000;
    background: rgba(0,0,0,0.7);
    background: url(../img/loading.gif) no-repeat center center;
    height: 32px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 32px; 
    z-index: 0;
}

.vegas-background {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    max-width: none !important; 
    z-index: -2;
}

.vegas-overlay,
.vegas-background {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.vegas-overlay {
    opacity: 0.5;
    z-index: -1;
}

.slider-controls{
    opacity: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.slider-controls li{
    list-style: none;
}

.slider-controls li a{
        position: absolute;
        z-index: 10;
        top: 40%;
        width: 60px;
        height: 60px;
        cursor: pointer;
}
.next{
    background: url("../img/next.png");
    margin-right: 70px;
    right: 0;
    opacity: 0.3;
}
.prev{
    background: url("../img/prev.png");
    margin-left: 70px;
    left: 0;
    opacity: 0.3;
}

#welcome:hover .slider-controls{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.next:hover, .prev:hover{
  opacity: 1;
}


/* ----- Responsive Settings ----- */


@media(max-width:992px) {
  #about .about{
    margin:0 auto 20px auto;
  }
}

@media(max-width: 480px) {

    .navbar-inverse {
        text-align: center;
    }
    
    #welcome header h1 {
        font-size: 2em;
    }
    #welcome header p {
        font-size: 1em;
       line-height: 3em;
    }
    #resume{
     text-align: center;
    }
    #about .about{
      margin:0 auto 20px auto;
    }
    .section-title {
      font-size: 1.5em;
    }
    .section-header p {
      font-size: 1.2em;
    }   
}




